<!DOCTYPE html>
<html>
  <%- include('partials/head', {title: title}) %>
  <body class="bg-neutral-50 min-h-screen flex flex-col">
    <%- include('partials/nav', {developers: developers}) %>
    <main class="flex-1">

    </main>
  </body>
</html>
